<!DOCTYPE html>
<html>
	<head>
		<meta name="description" content="kelp's website">
		<title>kelp's place</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">
		<meta name="theme-color" content="#000000">
		
	</head>
	<body>
		<div class="wrapper">
			<pre class="title">
      ___           ___           ___       ___     
     /\__\         /\  \         /\__\     /\  \    
    /:/  /        /::\  \       /:/  /    /::\  \   
   /:/__/        /:/\:\  \     /:/  /    /:/\:\  \  
  /::\__\____   /::\~\:\  \   /:/  /    /::\~\:\  \ 
 /:/\:::::\__\ /:/\:\ \:\__\ /:/__/    /:/\:\ \:\__\
 \/_|:|~~|~    \:\~\:\ \/__/ \:\  \    \/__\:\/:/  /
    |:|  |      \:\ \:\__\    \:\  \        \::/  / 
    |:|  |       \:\ \/__/     \:\  \        \/__/  
    |:|  |        \:\__\        \:\__\              
     \|__|         \/__/         \/__/              
			</pre>
			<p class="separator">---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
			<div class="links">
				<a href="/">back</a>
				<a href="/upload">upload</a>
			</div>
			<p class="separator">---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
			<form action="{{ url_for('admin') }}">
				{% if searchdata is defined %}
				 <div class="actions">
					    <p>search: 
					    <input type=text name=search_query {% if searchdata[1] != -1 %}value={{ searchdata[1] }}{% endif %} >
					    </p> 
					    
					    <p>search by: 
					    <select name=search_by>
						<option value="4"{% if searchdata[0] == 4 %} selected {% endif %}>filename</option>
						<option value="2"{% if searchdata[0] == 2 %} selected {% endif %}>filetype</option>
						<option value="0"{% if searchdata[0] == 0 %} selected {% endif %}>id</option>
						<option value="1"{% if searchdata[0] == 1 %} selected {% endif %}>user id</option>
					    </select>
					    </p>
					    <p>order by:
					    <select name=order_by>
						<option value="4"{% if searchdata[2] == 4 %} selected {% endif %}>filename</option>
						<option value="2"{% if searchdata[2] == 2 %} selected {% endif %} >filetype</option>
						<option value="0"{% if searchdata[2] == 0 %} selected {% endif %}>id</option>
						<option value="1"{% if searchdata[2] == 1 %} selected {% endif %} >user id</option>
					    </select>
					    </p>  
					    <select name=desc_asc>
						<option value="desc"{% if searchdata[3] == 'desc' %} selected {% endif %} >descending</option>
						<option value="asc"{% if searchdata[3] == 'asc' %} selected {% endif %}>ascending</option>
					    </select>
					    <input type=submit value="filter">
				 </div>
				 {% else %}
				 <div class="actions">
					    <p>search: 
					    <input type=text name=search_query>
					    </p> 
					    
					    <p>search by: 
					    <select name=search_by>
						<option value="4">filename</option>
						<option value="2">filetype</option>
						<option value="0">id</option>
						<option value="1">user id</option>
					    </select>
					    </p>
					    <p>order by:
					    <select name=order_by>
						<option value="4">filename</option>
						<option value="2">filetype</option>
						<option value="0">id</option>
						<option value="1">user id</option>
					    </select>  
					    </p>
					    <select name=desc_asc>
						<option value="desc">descending</option>
						<option value="asc">ascending</option>
					    </select>
					    <input type=submit value="filter">
				 </div>		 
				 {% endif %}
			</form>
			
			<p class="pages">
				{% if pagedata[1] is defined and pagedata[0] > 0 %}
					{% if pagedata[1] > 1 %}
						<a href="{{pagedata[1]-1}}?{{args}}">&lt&lt </a>
					{% else %}
						&lt&lt
					{% endif %}
					
					{% for page in range (0, pagedata[0]+1) %}
						{%if page+1 == pagedata[1] %}
							{{page+1}}
						{% else %}
							<a href="{{page+1}}?{{args}}">{{page+1}}</a>
						{% endif %}
					{% endfor %}
					
					{% if pagedata[1] <= pagedata[0] %}
						<a href="{{pagedata[1]+1}}?{{args}}"> &gt&gt</a>
					{% else %}
						&gt&gt
					{% endif %}
				{% endif %}	
			</p>
			
			{% if files is defined %}
				<table class="files">
					<thead>
						<th>id</th>
						<th>uploader</th>
						<th>url</th>
						<th>filename</th>
						<th>filetype</th>
						<th></th>
					</thead>
					{% for file in files %}
						<tr>
							<td>{{file[0]}}</td>
							<td>{{file[1]}} ({{file[7]}})</td>
							<td>{{file[3]}}</td>
							{% if file[4] is none %} 
								{#backwards compatibility#}
								<td class="filename"><a class="link" href="/{{file[3]}}.{{file[2]}}"><span title="{{file[3]}}">{{file[3]}}</span></a></td>
							{% else %}
								<td class="filename"><a class="link" href="/{{file[3]}}.{{file[2]}}"><span title="{{file[4]}}">{{file[4]}}</span></a></td>
							{% endif %}
							
							<td>{{file[2]}}</td>
							<td><a href="/delete/{{file[3]}}.{{file[2]}}">delete</a></td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>This website be empty, dawg</p>
			{% endif %}
			
			<img src="" id="thumbnail">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
			<script>
				function checkURL(url) {
					return(url.match(/\.(jpeg|jpg|gif|png|tiff)$/) != null);
				}
				
				var $thumb = $("#thumbnail"); 
				$(document).mousemove(function(e) { 
					$thumb.offset({ top: e.pageY+10, left: e.pageX+10 }); 
				});
				
				$('.link').mouseover(function() {
					if (checkURL(this.href)){
						$("#thumbnail").attr("src",this.href);
					}
				});
				$('.link').mouseleave(function() {
					$("#thumbnail").attr("src", "");
				});
			</script>
		
		</div>
	</body>


	
</html>

