{% extends "base.html.twig" %}
{% block links %}
			<a href="/">back</a>
			<a href="/upload">upload</a>
			<a href="/pastes/0">pastes</a>

{% endblock %}

{% block content %}

	{% if msg is defined %}
		<p class="msg">error: {{ msg }}</p>
	{% endif %}

	{% if app.session.get('user') %}
		{% set acc = app.session.get('user') %}

		{% if ustats.success is defined and ustats.success == 'true' %}
			<p class="stats">your stats:   disk usage:  {{ustats.total_filesize}}   files: {{ustats.file_count}}   pastes: {{ustats.paste_count}}</p>
		{% endif %}

		<p class="separator"></p>

			{% if page is defined and page_amount > 0 %}
				<a href="{{page-1}}">&lt&lt </a>

				{% for pnum in 0..page_amount %}
					{% if pnum == page %}
						{{pnum+1}}
					{% else %}
						<a href="{{pnum}}"> {{pnum+1}} </a>
					{% endif %}
			  {% endfor %}
				<a href="{{page+1}}"> &gt&gt</a>

		  {% endif %}

		</p>
		{% if ufiles.files|length > 0 %}
			<p>here are your files, {{acc.username}}.</p>
			<a href="/files/delete/all" onclick="return confirm('Do you REALLY want to delet all of your files?')">delete all files (cannot be undone!)</a>
			<table class="files">
				<thead>
					<th>filename</th>
					<th>filetype</th>
					<th></th>
				</thead>

					{% for file in ufiles.files %}
						<tr>
							{% if file.org_filename is defined %}
								{#backwards compatibility#}
								<td class="filename"><a class="link" href="/u/{{file.filename}}.{{file.filetype}}"><span title="{{file.org_filename}}">{{file.org_filename}}</span></a></td>
							{% else %}

								<td class="filename"><a class="link" href="/u/{{file.filename}}.{{file.filetype}}"><span title="{{file.filename}}">{{file.filename}}</span></a></td>
							{% endif %}

							<td>{{file.filetype}}</td>
							<td><a href="/files/delete/{{file.filename}}">delete</a></td>
						</tr>
					{% endfor %}
			</table>
		{% else %}
			<p>you don't have any files</p>
		{% endif %}

	{% else %}
		<p>not logged in.</p>
	{% endif %}
	<img src="" id="thumbnail" style="overflow: hidden; position: absolute; overflow-x: hidden;"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
		function checkURL(url) {
			return(url.match(/\.(jpeg|jpg|gif|png|tiff)$/) != null);
		}

		var thumb = $('#thumbnail');
		$(document).mousemove(function(e) {
			var imgheight = $('#thumbnail').outerHeight()+10;
			var dist = Math.floor($(window).height()-e.pageY);
			if (dist < imgheight+20){
				thumb.offset({ top: $(window).height()+$(window).scrollTop()-imgheight-10, left: e.pageX+10 });
			}else{
				thumb.offset({ top: e.pageY+10, left: e.pageX+10 });
			}
		});

		$('.link').mouseover(function() {
			if (checkURL(this.href)){
				$('#thumbnail').attr("src",this.href);
			}
		});
		$('.link').mouseleave(function() {
			$('#thumbnail').attr("src", "");
		});


	</script>

{% endblock %}
