{% extends "base.html.twig" %}
{% block links %}
			<a href="/">back</a>
			<a href="/paste">paste</a>
			<a href="/files/0">files</a>
{% endblock %}

{% block content %}

	{% if msg is defined %}
		<p class="msg">error: {{ msg }}</p>
	{% endif %}
	{% if app.session.get('user') %}
		{% set acc = app.session.get('user') %}

		{% if ustats.success is defined and ustats.success == 'true' %}
		<p class="stats">your stats:   disk usage:  {{ustats.total_filesize}}   files: {{ustats.file_count}}   pastes: {{ustats.paste_count}}</p>
		{% endif %}
		<p class="separator"></p>

		{% if page is defined and page_amount > 0 %}
			<a href="{{page-1}}">&lt&lt </a>

			{% for pnum in 0..page_amount %}
				{% if pnum == page %}
					{{pnum+1}}
				{% else %}
					<a href="{{pnum}}"> {{pnum+1}} </a>
				{% endif %}
			{% endfor %}
			<a href="{{page+1}}"> &gt&gt</a>

		{% endif %}

		</p>
		{% if upastes.pastes|length > 0 %}
			<p>here are your pastes, {{acc.username}}.</p>
			<a href="/p/delete/all" onclick="return confirm('Do you REALLY want to delete all of your pastes?')">delete all pastes (cannot be undone!)</a>
			<table class="files">
				<thead>
					<th>paste id</th>
					<th>paste title</th>
          <th></th>
					<th></th>
				</thead>

					{% for paste in upastes.pastes %}
						<tr>
              <td>{{paste.id}}</td>
							<td class="filename"><a class="link" href="/p/{{paste.id}}"><span title="{{paste.paste_name}}">{{paste.paste_name}}</span></a></td>
							<td><a href="/p/edit/{{paste.id}}">edit</a></td>
							<td><a href="/p/delete/{{paste.id}}">delete</a></td>
            </tr>
					{% endfor %}
			</table>
		{% else %}
			<p>you don't have any pastes</p>
		{% endif %}

	{% else %}
		<p>not logged in.</p>
	{% endif %}
	<div id="pastehover" style="background-color: var(--bg); border: 1px solid var(--fg-shade); white-space: pre; overflow: hidden; position: absolute; overflow-x: hidden;"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>

		var txt = $('#pastehover');
		$(document).mousemove(function(e) {
			var pasteheight = $('#pastehover').outerHeight()+10;
			var dist = Math.floor($(window).height()-e.pageY);
			if (dist < pasteheight+20){
				txt.offset({ top: $(window).height()+$(window).scrollTop()-pasteheight-10, left: e.pageX+10 });
			}else{
				txt.offset({ top: e.pageY+10, left: e.pageX+10 });
			}
		});

		$('.link').mouseover(function() {
      var last_part=this.href.substr(this.href.lastIndexOf('/') + 1);

      $.get( '/p/raw/'+last_part)
      .done(function( data ) {
        txt.text(data);
        txt.css('padding', '2px');
      });

		});
		$('.link').mouseleave(function() {
			txt.text("");
      txt.css('padding', '0px');
		});
		$('.filename').mouseleave(function() {
			txt.text("");
      txt.css('padding', '0px');
		});

	</script>




{% endblock %}
